body {
  background-color: rgb(231, 231, 231);
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 20px;
}

header {
  background-color: rgb(12, 5, 75);
  margin: 0px;
}

input, textarea{
  display: block;
  margin: auto;
  padding: 10px;
  resize: none;
}

.input {  
  padding: auto;
}

.meme-container {
  margin: 50px auto;
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.meme-text {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-size: 30px;
  color: rgb(255, 255, 255)
}
