body {
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, sans-serif;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
}

table {
  margin: 0px auto;
}

.palette td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.canvas .tr {
  display: table-row;
}

.canvas .td {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 1px;
}

.canvas {
  position: relative;
  margin: 30px auto;
}

.color1{
  background-color: rgb(0, 0, 0)
}

.color2{
  background-color: rgb(255, 0, 0)
}

.color3{
  background-color: rgb(4, 0, 255)
}

.color4{
  background-color: rgb(21, 255, 0)
}

